/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {    /****** gestion couleur ***********/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {    /****** etoiles ***********/
    color: var(--main-color);
}
 
.euro {
    font-weight: 700;
}

.neutral-star {  /****** etoile grise ***********/
    color: var(--main-bg-color)
}

  header{
    display: flex ;
    justify-content: space-between;
    align-items: flex-start;

}



main {

    padding: 40px;
}

body {
    width: auto;

}


.Logo{
    padding-left: 20px;
    padding-top: 20px;

}

  /****** header  ***********/

nav.Navigation {
    display: flex;
    align-items: flex-start;
    color:black;
  } 
  ul.Navigation {
    
          display: flex;
          align-items: flex-start;  
  }

  li.LienNavigation {
    padding-left: 20px;
    }

   a {
      text-decoration: none;
      color:rgb(2, 2, 2);
      }
   
    .LienNavigation:hover{
      text-decoration: overline #0065FC;
    
     
    }

  

/****** FOOTER                inherit    ***********/
  footer {
    background-color: #F2F2F2;
    font-size: 16px;
    margin : 50px;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color:black;

}

.TitreFooter {
    font-size: 18px;
    font-weight: bold;

}

   
  .PiedDePage
   {
    display: flex;
    flex-direction: column;
    align-items: stretch ;
    justify-content: space-between;
    color:black;
    background-color: #F2F2F2;
} 

ul {
    list-style-type: none;
 

}


.filtre {
    display: flex ;
    flex-direction: row;
    align-items: left;
    
}


.filtres {
    display: flex ;
    flex-direction: row;
    align-items: left;
    font-weight: bold;
    color: black;
    margin-top: 10px;

}
.filtre1 {
    display: inline-block ;
    justify-content: center;
    color: black;
   margin: 10px;
  border-radius: 60px 60px 60px 60px;
  background-color: white;
  
}

.filtre1:hover {

    background-color: #0065FC;

}


input {
 
    font-size: 16px;
    color : blue;

  }
.BoutonRechercher {

    display: inline-block;
    background: #0065FC;
    color: white;


}


/****** menu recherche  ***********/

  .section-contact, .TableauRecherche {
height: 49px;
width: 377px;
display: flex;
  flex-direction: row;
  align-items: left;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  }

 
  .fa-location-dot {
display: flex;
Width: 50px;
Height: 49px;
border-radius: 15px, 0px, 0px, 15px;
Border : 1px;
justify-content: center;
align-items: center;

  }

  

  .RetourcheRecherche {
    height: auto;
    width: 200px;
    color: black;
    size: 16px;
    font-weight: bold;
    border-width: 1px 1px 1px 1px;
    border-left: none;
    border-right: none;
    border-color: #F2F2F2 ;
    padding-left: 20px ;

  }

.RetourcheEnvoyer{
    height: auto;
    width: 137px;
    align-items: center;
     background-color: #0065FC;
     color: white;
     border-radius: 00px 10px 10px 0px;
     border-color: none ;


}

/****** section ***********/

.TrouvezVotreHebergement{

margin: 20px;

}

.hebergements {

    background-color: #F2F2F2;
    width: 1300px;
    margin-right: 20px;
}


/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
}
.GestionArticle {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 60px 60px 60px 60px;
}
.GestionArticle2{

    display: flex;
    flex-direction: row;

}

.test2bloc{
display: flex;
flex-direction: row;

}

/****** Populaires ***********/
.populaires {
  width: 400px;
}

.populaires .card {
    display: flex;
    margin-top: 33px;
}

.populaires img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card3 {
 height: 400px;
 width: 400px;
 margin: 10px;
 border-radius: 20px 20px 20px 20px;

}
.card4 {
    height: 500px;
    width: 400px;
    margin: 10px;

 border-radius: 20px 20px 20px 20px;

   }
   