/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


.lien-icone {
    margin-left: 30px;
    
  }header,
  footer {
    background-color: rgb(255, 251, 251);
    padding: 20px 50px;
  }



/****** header  ***********/

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color:black;
} 
 
.Navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color:black;
        
}

.LienNavigation a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:black;
  }
 
  a:hover{

    border-top: 3px #0065FC solid;
    color: #0065FC;
    padding-top : 20px;
  }
 

/****** menu recherche  ***********/




